.container {
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%
}
.form, .form-input {
  display: flex;
  flex-flow: column nowrap;
}
.cnab-label {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
#cnab {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1.5px solid #0d6efd;
  cursor: pointer
}
.btn {
  margin-top: 20px;
  border: none !important;
  padding: 10px;
  background: #0d6efd;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.9em; 
}
.customize-input {
  display: flex;
  flex-flow: row nowrap;
}
.d-flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.d-flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.justify-content-center {
  justify-content: center;
}
.list-group {
  border: 0.2px solid #c0c0c0;
}
.list-group, li{
  list-style-type: none;
  padding: 10px;
}
li:not(:last-child) {
  border-right: 1px solid #c0c0c0;
}
.list-group, li::after {
  border-bottom: 1px solid #c0c0c0 !important;
  margin: 0;
  padding: 0;
}
img {
  float: right;
  margin-top: -28px;
}
input[type=file]::file-selector-button {
  display: none;
}
input[type=file] {
  color: rgba(0, 0, 0, 0)
}